@{{ mr_author_username }} создал MR [*{{ project_name }}*]({{ mr_url }}), который был назначен для ревью:
{% for reviewer in mr_reviewers_username %}
- @{{ reviewer }}
{% endfor %}

{% if mr_assignee_username %} Для MR назначен уполномоченный (Assignee) @{{ mr_assignee_username }}{% endif %}