**Проект:** [{{ project_name }}]({{ web_url }})
**Название:** [{{ mr_title|upper }}]({{ mr_url }})
**Ветки:** [{{ source_branch|upper }}]({{ source_branch_link }}) ➜ [{{ target_branch|upper }}]({{ target_branch_link }})
**Создан:** {{ created_at }}
**Обновлен:** {{ updated_at }}