:fire::fire::fire: \nПривет, @{{ mr_reviwer|safe }}! \n\nРады сообщить, что боги рандома избрали Тебя для проведения ревью кода любимого коллеги @{{ mr_author|safe }}. :alarm3:\nМы очень рассчитываем на тебя!