:fire::fire::fire:

Привет, @{{ mr_reviewer_username }}!
Рады сообщить, что боги рандома избрали Тебя для проведения ревью кода любимого коллеги @{{ mr_author_username }}. :pinched_fingers:

Мы очень рассчитываем на тебя!

➜ [**ССЫЛКА НА MR**]({{mr_url}})
![russian hacker](https://media.tenor.com/26GU1Sq64AcAAAAC/hacker.gif=250x140)