Привет, @{{ mr_reviewer_username }}!
Рады сообщить, что боги рандома избрали Тебя для проведения ревью кода любимого коллеги @{{ mr_author_username }}. Мы очень рассчитываем на тебя! :muscle:
![russian hacker](https://media.tenor.com/26GU1Sq64AcAAAAC/hacker.gif =131x74)

➜ [**ССЫЛКА НА ВАШЕ РЕШЕНИЕ**]({{ mr_url }})