Привет @{{ mr_author_username }}!

Данный [MR]({{ mr_web_url }}) был выбран для проведения **обязательного** ревью. Надеюсь, ты так же рад(а), как и мы!\
Твоим кодом будет впечатляться @{{ reviewer_username }}, о чем мы незамедлительно сообщим в чате.

Если продолжительное время нет реакции, советую обратиться [напрямую](https://chat.mvideo.ru/com/channels/tm-devel) или к вашему техлиду
{% if reviewer_lead %} @{{ reviewer_lead }} {% endif %}.\
Желаем удачи!